@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Bellefair", serif;
}

* {
  margin: 0;
  padding: 0;
}

.home {
  background: url("./assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.destination {
  background: url("./assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: ;
}
.crew {
  background: url("./assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.technology {
  background: url("./assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media only screen and (min-width: 640px) {
  .home {
    background: url("./assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .destination {
    background: url("./assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .crew {
    background: url("./assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .technology {
    background: url("./assets/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media only screen and (min-width: 1024px) {
  .home {
    background: url("./assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .destination {
    background: url("./assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .crew {
    background: url("./assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .technology {
    background: url("./assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.navbar,
.font2 {
  font-family: "Barlow Condensed", sans-serif;
}

.links {
  background-color: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(20px);
}
.line {
  height: 1px;
}
